{% extends "base.html" %}
{% load static %}
{% block header %}
  Alumni Stories
{% endblock header %}
{% block content %}
  {% for alumni in alumni_list %}
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
      <div class="flex items-center mb-2">
        <img class="w-20 h-20 rounded-full"
             src="{% if alumni.profile_image %}{{ alumni.profile_image.url }}{% else %}{% static 'icons/default-avatar.webp' %}{% endif %}"
             alt="Avatar">
        <div class="ml-4">
          <a href="#">
            <h5 class="m-0 text-xl font-semibold tracking-tight text-gray-900">{{ alumni.name }}</h5>
          </a>
          <p class="font-medium text-gray-500">{{ alumni.job }}</p>
          <p class="font-normal mb-1 text-sm text-gray-500">{{ alumni.degree }}</p>
        </div>
      </div>
      <p class="text-gray-700 mb-2">{{ alumni.intro }}</p>
      <a href="#"
         class="inline-flex font-medium items-center text-blue-600 hover:underline">
        See more
        <svg class="w-3 h-3 ms-2.5 rtl:rotate-[270deg]"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 18 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778" />
        </svg>
      </a>
    </div>
  {% endfor %}
{% endblock content %}
