{% extends "base.html" %}
{% block header %}
  <div class="inline-flex items-center gap-1 flex-wrap">
    {{ module.name }}
    <span class="text-gray-600 font-light text-sm me-2 pt-1">{{ module.code }}</span>
    <div class="pb-0.5">
      {% if module.compulsory %}
        <span class="bg-gray-100 text-gray-700 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full border border-gray-400">Core</span>
      {% endif %}
      {% if module.category == "Pure" %}
        <span class="bg-blue-100 text-blue-700 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full border border-blue-400">Pure</span>
      {% elif module.category == "Applied" %}
        <span class="bg-green-100 text-green-700 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full border border-green-400">Applied</span>
      {% elif module.category == "Statistics" %}
        <span class="bg-red-100 text-red-700 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full border border-red-400">Statistics</span>
      {% elif module.category == "Finance" %}
        <span class="bg-yellow-100 text-yellow-700 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full border border-yellow-400">Finance</span>
      {% endif %}
    </div>
  </div>
{% endblock header %}
{% block content %}
  {% if module.summary %}<p>{{ module.summary }}</p>{% endif %}
  <table class="table-auto w-full text-left mt-2">
    <tbody>
      <tr>
        <td class="align-top py-2">
          <strong>Term:</strong>
        </td>
        <td class="px-4 py-2">{{ module.term }}</td>
      </tr>
      <tr>
        <td class="align-top py-2">
          <strong>Module Lead(s):</strong>
        </td>
        <td class="px-4 py-2">{{ module.lecturer }}</td>
      </tr>
      {% if module.learning_outcome %}
        <tr>
          <td class="align-top py-2">
            <strong>Learning Outcome:</strong>
          </td>
          <td class="px-4 py-2">
            <ul class="list-disc list-outside pl-6">
              {% for outcome in module.learning_outcome %}<li>{{ outcome }}</li>{% endfor %}
            </ul>
          </td>
        </tr>
      {% endif %}
      {% if module.module_preparation %}
        <tr>
          <td class="align-top py-2">
            <strong>Module Preparation:</strong>
          </td>
          <td class="px-4 py-2">{{ module.module_preparation }}</td>
        </tr>
      {% endif %}
      {% if module.assessments %}
        <tr>
          <td class="align-top py-2">
            <strong>Assessments:</strong>
          </td>
          <td class="px-4 py-2">{{ module.assessments }}</td>
        </tr>
        {% if assessments %}
          <tr>
            <td colspan="2" class="px-4 py-2">
              <table class="table-auto w-full text-left">
                <thead>
                  <tr class="border-b-2">
                    <th class="px-4 py-2">Coursework</th>
                    <th class="px-4 py-2">Start Date</th>
                    <th class="px-4 py-2">End Date</th>
                    <th class="px-4 py-2">Value</th>
                    <th class="px-4 py-2">Submit Work To</th>
                  </tr>
                </thead>
                <tbody>
                  {% for assessment in assessments %}
                    <tr class="border-b">
                      <td class="px-4 py-2">{{ assessment.coursework_name }}</td>
                      <td class="px-4 py-2">{{ assessment.start_date }}</td>
                      <td class="px-4 py-2">{{ assessment.end_date }}</td>
                      <td class="px-4 py-2">{{ assessment.value }}%</td>
                      <td class="px-4 py-2">{{ assessment.submit_work_to }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
        {% endif %}
      {% endif %}
      {% if module.recommended_prerequisites %}
        <tr>
          <td class="align-top py-2">
            <strong>Recommended Prerequisites:</strong>
          </td>
          <td class="px-4 py-2">{{ module.recommended_prerequisites }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock content %}
